body {
	font-size: 16px;
	font-family: "Segoe UI", Helvetica, sans-serif;
}

.panel {
	background: #fff;
	padding: 5px 15px 10px 15px;
}

.title-bar {
	font-size: 28px;
	margin: 0 10px 10px 0;
	text-align: left;
	vertical-align: bottom;
}

/* Add Package Panel */

.input {
	width: 100%;
	margin-bottom: 10px;
}

.add-pkg-button {
	width: 100%;
	margin-top: 10px;
}

.add-package-status {
	margin-top: 15px;
	color: #a00;
}

/* Package List Panel */

.package-row {
	margin-bottom: 15px;
}
.package-row .content-box {
	padding: 0 5px;
}
.package-row .title {
	/*font-size: 17px;*/
	font-weight: bold;
}
.package-row .days-left {
	font-size: 32px;
	text-align: center;
}

.last-updated {
	text-align: right;
	color: #555;
	font-size: 14px;
}

/* Package Detail Panel */

.package {
	padding-top: 5px;
	height: 100%;
}
.package .title {
	height: 50px;
	font-size: 28px;
	border-bottom: 2px solid #5E3A23;
	margin-right: 10px;
	text-align: left;
	vertical-align: bottom;
}
/*.package .days-box {
	width: 50px;
	height: 50px;
	padding-top: 3px;
	margin-right: 10px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	background: #5E3A23;
}*/
.package .days-left {
	font-size: 28px;
	width: 50px;
	height: 50px;
	padding-top: 3px;
	/*margin-right: 10px;*/
	text-align: center;
	color: #fff;
	background: #5E3A23;
}

.group-title {
	font-size: 24px;
	margin-bottom: 5px;
}

.detail-item {
	padding: 3px 0;
	border-bottom: 1px solid #ddd;
}
.detail-item.last {
	padding: 3px 0;
	border-bottom: none;
	margin-bottom: 15px;
}

.event-item {
	margin-bottom: 15px;
}
.event-item .date {
	/*font-weight: bold;*/
	color: #5E3A23;
}

/* Popups */

.menu-popup {
	height: 300px;
	width: 300px;
	background: #fff;
	color: #222;
	padding: 10px;
	border-radius: 0px;
	border: 0px;
	box-shadow: none;
}